.footer{
    background-color:#6278F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer li{
    display: inline-block;
    margin: 32px;
}
.footer div{
    display: inline-block;
}

.footer p{
    color: #FFF;
    display: inline-block;
    font-weight: 700;
    margin-right: 32px;
}